@page
@model ShoppingWebsite.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <h1>Welcome to Admin page</h1>
</div>