@page
@model ShoppingWebsite.Areas.Admin.Pages.Category.EditModel
@{
    ViewData["Title"] = "Edit Category";
}

<h1 class="h3 mb-4 text-gray-800">
    <a asp-page="Index" class="btn btn-secondary btn-icon-split mt-2">
        <span class="icon text-white-50">
            <i class="fas fa-backward"></i>
        </span>
        <span class="text font-weight-bold">Category Management</span>
    </a>
</h1>
<div class="card shadow mb-4 mx-auto" style="max-width: 500px;">
    <div class="card-header font-weight-bold text-primary py-3">
        Edit Category
    </div>
    <div class="card-body row">
        <form class="mb-3 col-12" method="post">
            <div asp-validation-summary="ModelOnly" class="text-white"></div>
            <input type="hidden" asp-for="@Model.Category.CategoryID" />
            <input asp-for="@Model.Category.Name" class="form-control w-100" placeholder="Category name">
            <span asp-validation-for="@Model.Category.Name" class="text-danger"></span>
            <div class="col-md-12 mt-2">
                <button type="submit" class="btn btn-primary btn-block mt-3">Update Now</button>
                <a href="#" data-toggle="modal" data-target="#deleteModal"
                   class="btn btn-danger btn-block">Delete Now</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete category</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to delete this category.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@Model.Category.CategoryID">Delete</a>
            </div>
        </div>
    </div>
</div>