@page
@model ShoppingWebsite.Areas.Admin.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Category List";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-column flex-md-row justify-content-between">
        <div class="h6 font-weight-bold text-primary align-self-center">Category List</div>
        <a asp-page="Create" class="d-flex justify-content-between btn btn-success btn-icon-split">
            <span class="text">Create</span>
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Category[0].Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Category)
                    {
                        <tr>
                            <td>
                                <a asp-page="Edit" asp-route-id="@item.CategoryID"
                                   class="font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
